.categoryCard{
    width: 100%;
    justify-self: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__title{
        text-align: center;
        color: #454545;
        font-weight: bold;
        font-size: 13px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__imgCont{
        width: 100%;
        margin-bottom: 15px;
        flex: 1;
        position: relative;
        & a{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        & img{
            width: 100%;
        }
    }
}