select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

// options css
.custom-select {
    position: relative;
    // font-family: Arial;
    width: 100%;
    border-radius: 5px solid black;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: white;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 41%;
    right: 4%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent black transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: black;
    padding: 8px;
    // border: 1px solid transparent;
    width: 100%;
    // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
.select-items
{
    border-radius: 0px 0px 10px 10px;
    width:  100%;
    border: 1px solid var(--border-color);
}
.select-items div {
    
    position: relative;
    width: 100%;
}
.select-items:last-child{
    border-radius: 0px 0px 10px 10px;
  
}

.select-items div::after {
    content: "";
    background: var(--border-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6%;
    height: 1px;
    width: 87%;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.same-as-selected {
    color: var(--primary-color) !important;
}
.no-after::after{
    display:none;
  }

// options css
.collection {
   

    .collection__inner {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        padding: 30px 20px;

        .collection__spinner {
            width: 50px;
            height: 50px;
            border: 5px solid #f3f3f3;
            border-top: 5px solid black;
            border-radius: 50%;
            animation: spin 2s linear infinite;
            position: fixed;
            top: 50%;
            right: 41.5%;
            transform: translate(50%, -50%);
            z-index: 999999;
            display: none;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .collection__overlay-wrapper {
            position: absolute;
            z-index: 10;
            width: 100%;
            top: 0;
            left: 0;
            display: none;

            .collection__overlay {
                width: 100%;
                height: 100vh;
                background-color: #00000080;
                cursor: pointer;
            }

        }

        .collection__filter {
            position: absolute;
            top: 0;
            left: 0;
            width: 60%;
            height: 100%;
            padding: 50px 20px 30px 20px;
            overflow-y: auto;
            background-color: #fff;
            z-index: 99;
            display: none;

            .filter_byType {
                display: flex;
                flex-direction: column;

                .tag-filters {
                    .filter__tittle {
                        position: relative;
                        cursor: pointer;
                        display: flex;
                        padding-bottom: 17px;
                        border-bottom: 1px solid var(--border-color);

                        .tittle__text {
                            font-size: 14px;
                            color: #1d3042;
                            font-weight: bolder;

                        }

                        .closebutton {
                            position: absolute;
                            right: -5%;
                            top: -38%;
                            cursor: pointer;
                        }

                        .Icon__Control {
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            right: 5%;
                        }

                        .plus {
                            display: none;
                        }
                    }

                    .item__wrap {
                        padding: 30px 0 40px 0;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        transition: all 0.5s ease-in-out;
                        .tag {
                            color: var(--light-color);
                            font-size: 12px;
                            transition: all 0.2s linear;
                            cursor: pointer;
                        }
                        .remove {
                            opacity: 0;
                        }

                        .tag:hover {
                            color: var(--primary-color);
                        }

                        .color_tag {
                            width: 15px;
                            height: 15px;
                            border-radius: 5px;

                            a {
                                opacity: 0;
                            }
                        }

                        .color_tag2 {
                            width: 15px;
                            height: 15px;
                            border-radius: 5px;
                            font-size: 0;

                            a {
                                opacity: 0;
                            }
                        }

                        .color {
                            border-radius: 5px;
                            cursor: pointer;
                            transition: all 0.2s linear;
                            position: relative;

                            a {
                                width: 15px;
                                height: 15px;
                                border-radius: 5px;

                            }
                        }

                        .color:hover {
                            transform: scale(1.2);
                        }
                    }

                    .flex {
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                    }
                }
            }

            .filter_Clear {
                .filter__tittle {
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    padding-bottom: 17px;
                    border-bottom: 1px solid var(--border-color);

                    .tittle__text {
                        font-size: 16px;
                        color: #1d3042;
                        font-weight: bolder;

                    }

                    .closebutton {
                        position: absolute;
                        right: -5%;
                        top: -38%;
                        cursor: pointer;
                    }

                    .Icon__Control {
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        right: 5%;
                    }

                    .plus {
                        display: none;
                    }
                }

                .shopping {
                    padding: 30px 0 0 0;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .shopingBy_tag {
                        position: relative;

                        .tag_RemoveIcon {
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            top: 50%;
                            right: 7%;
                            transform: translate(50%, -50%);
                            cursor: pointer;
                        }
                    }

                }

                .ClearAll_button {
                    cursor: pointer;
                    padding: 10px 0 30px 0;
                }
            }

            .closebutton {
                position: absolute;
                top: 1%;
                right: 8%;

                svg {
                    cursor: pointer;
                }
            }

            .filter_image {
                position: relative;
                margin-top: 37px;

                img {
                    width: 100%;
                }
            }
        }

        .collection__content {
            width: 100%;
            
            .collection__header {
                img {
                    width: 100%;
                    height: 100%;
                }

                p {
                    margin-top: 30px;
                    font-size: 15px
                }
            }

            .collection__handle {
                width: 100%;
                gap: 32px;
                border-bottom: 1px solid #8d8d8d;

                .collection__tittle {
                    width: 100%;
                    font-size: 21px;
                    font-weight: bold;
                    padding: 10px 0;
                    text-align: center;
                }

                .collection__control {
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;

                    .collections__Filter {
                        width: 10%;
                        height: 100%;
                        cursor: pointer;

                        svg {
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .collection__sort {
                        width: 60%;
                        border-radius: 5px;
                        border: 1px solid var(--border-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .collection__itemDisplay {
                        width: 20%;
                        border-radius: 5px;
                        border: 1px solid var(--border-color);
                        display: flex;
                        justify-content: center;

                        align-items: center;
                    }
                }
            }
            .collection__Productcontent
            {
                display: flex;
                flex-direction: column;
                gap: 20px;
                position: relative;
                .paginate
                {
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    .page 
                    {

                        width: 50px;
                        height: 50px;
                        border: 1px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.2s linear;
                        a{
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    .page:hover{
                        background-color: var(--border-color);
                        
                        border: unset;
                    }
                    .current{
                        background-color: var(--primary-color);
                        color: white;
                        border: unset;
                    }
                    .current:hover{
                        background-color: var(--primary-color);
                        color: white;
                        border: unset;
                        
                    }
                }
            }
            .collection__empty
            {
                display: none;
            }
            .collection__loadMore {
                width: 210px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--border-color);
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.2s linear;
                margin: 50px auto 0px auto;
                display: none;
            }

            .collection__loadMore:hover {
                transform: scale(1.2);
            }
        }
    }
}

@media (min-width: 320px) {
    .collection {
      

    }
}

@media (min-width: 480px) {
    .collection {
       

    }
}

@media (min-width: 600px) {
    .collection {
       

        .collection__inner {
            padding: 30px 50px;
        }
    }
}

@media (min-width: 750px) {
    .collection {
      

        .collection__inner {
            padding: 30px 50px;

            .collection__filter {
                width: 40%;
                margin-right: 50px;
            }

            .collection__content {
                .collection__handle {
                    padding: 40px 0 45px 0;
                    display: flex;
                    align-items: center;

                    .collection__tittle {
                        width: 100%;
                        text-align: unset;
                    }

                    .collection__control {
                        display: flex;
                        width: 100%;
                        gap: 10px;
                        justify-content: flex-end;
                        align-items: center;

                        .collection__sort {
                            width: 180px;
                            height: 40px;

                            #sort-by {
                                width: 100%;
                                height: 100%;
                                padding-left: 12px;
                            }

                        }

                        .collection__itemDisplay {
                            width: 70px;
                            height: 40px;
                            border-radius: 5px;
                            border: 1px solid var(--border-color);
                            ;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            #display {
                                width: 100%;
                                height: 100%;
                                padding-left: 12px;
                            }
                        }
                    }
                }

                .collection__Productcontent {
                    display: grid;
                    gap: 30px 57px;
                    grid-template-columns: repeat(2, 1fr);
                    margin-top: 39px;
                    .paginate
                    {
                        grid-column-end: span 2;
                    }
                }

                .collection__empty {
                    width: 100%;
                    display: none;
                    padding: 106px 20px 102px;

                    .collection__empty__pic {
                        width: 150px;
                        height: 150px;
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;
                    }

                    .collection__empty-tittle {
                        color: #191919;
                        padding: 0;
                        margin: 9px 0 0;
                        font-size: 34px;
                        font-weight: 400;
                        line-height: 44px;
                        text-align: center;
                    }

                    .collection__empty-text {
                        margin-top: 2px;
                        font-size: 15px;
                        text-align: center;
                    }
                }
            }
        }

    }
}

@media (min-width: 1080px) {
    .collection {
        width: 1000px;
        margin: 0 auto;

        .collection__inner {
            margin: 0 auto;
            display: flex;
            padding: 50px 0;
            .collection__filter {
                display: flex ;
                position: relative;
                height: 100%;
                width: 20%;
                padding: 0;
                flex-direction: column;
                .closebutton {
                    display: none;
                }
            }
            .collection__content {
                width: 80%;
                .collection__handle {
                    .collection__control {
                        .collections__Filter {
                            display: none;
                        }
                    }
                }

                .collection__Productcontent {
                    gap: 57px 45px;
                }
            }

            .collection__overlay-wrapper {
                display: none !important;
            }
        }
    }

}

@media (min-width:1280px) {
    .collection {
        width: 1200px;

        .collection__inner {
     
            .collection__content {
                .collection__Productcontent {
                    grid-template-columns: repeat(3, 1fr);
                    .paginate
                    {
                        grid-column-end: span 3;
                    }
                }
            }
        }
    }

}

// @media (min-width:1440px) {
//     .collection {
//         max-width: 1220px;


//     }

// }