@import "reset.scss";
@import "base.scss";
@import "tiny-slider.scss";


*{
    box-sizing: border-box;
    line-height: 1.1;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    display: block;
}

.shopify-section{
    width: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    border: none;
    background-color: inherit;
}


input[type=number] {
  -moz-appearance: textfield;
}


.breadcrumb{
    background-color: #f0f0f0;
    padding: 0px 20px;
    margin-top: 30px;
   
    &__inner{
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__option{
        padding: 7px 15px;
        position: relative;
        transition: all .2s linear;
        font-size: 12px;
        text-align: center;
        &:first-child{
            padding-left: 0;
        }
        &::after{
            position: absolute;
            content: "/";
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        &:last-child{
            padding-right: 0;
            &::after{
                content: "";
            }
        }
        &:hover{
            font-weight: bold;
        }
    }
}

@media (min-width: 600px){
    .breadcrumb{
        padding: 0px 50px;
        &__option{
            padding: 7px 25px;
            font-size: 14px;
        }
    }
}

@media(min-width: 1080px){
    .breadcrumb{
        &__inner{
            width: 1000px;
            margin: 0 auto;
        }
    }
}

@media (min-width: 1280px){
    .breadcrumb{
        &__inner{
            width: 1200px;
        }
    }
}

.loading__spinner
{
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid  black;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%; right: 41.5%;
    transform: translate(50%,-50%);
    z-index: 999999;
    display: none;
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

// pa w100 h100 l0 t0

.pa {
    position: absolute;
}

.w100{
    width: 100%;
}

.h100{
    height: 100%;
}

.l0{
    left: 0;
}

.t0{
    top: 0;
}

.object-fit--contain{
    object-fit: contain;
}

.p-0{
    padding: 0 !important;
}

html, body {
    text-rendering: optimizeLegibility;
}

img.lazyload:not([src]) {
	visibility: hidden;
}
.shopify-challenge__container
{
    padding: 53px 15px 59px;
    margin:  52px 20px !important;
    border: 1px solid var(--border-color);
    .shopify-challenge__message
    {
        text-transform: uppercase;
        font-size: 16px;
    }
    #g-recaptcha{
        margin: 26px 0;
    }
    .shopify-challenge__button 
    {
        width: 117px;
        height: 40px;
        background-color: #032c41;
        border-radius: none;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    .shopify-challenge__button:hover
    {
        transform: scale(1.2);
    }

}

@media (min-width: 550px){
    .shopify-challenge__container
    {
        margin: 52px auto !important;
    }
}