
@import "reset.scss";
@import "base.scss";
@import "tiny-slider.scss";


*{
    box-sizing: border-box;
    line-height: 1.1;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    display: block;
}

.shopify-section{
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    border: none;
    background-color: inherit;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes rolling {
    0% {
        height: 0px;
    }
    50% {
        height: 50%;
    }
    to {
        height: 100%;
     }
}