
@import "reset.scss";
@import "base.scss";
@import "tiny-slider.scss";


*{
    box-sizing: border-box;
    line-height: 1.1;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    display: block;
}

.shopify-section{
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    border: none;
    background-color: inherit;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.breadcrumb{
    background-color: #f0f0f0;
    padding: 0px 20px;
    margin-top: 30px;
   
    &__inner{
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__option{
        padding: 7px 15px;
        position: relative;
        transition: all .2s linear;
        font-size: 12px;
        text-align: center;
        &:first-child{
            padding-left: 0;
        }
        &::after{
            position: absolute;
            content: "/";
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        &:last-child{
            padding-right: 0;
            &::after{
                content: "";
            }
        }
        &:hover{
            font-weight: bold;
        }
    }
}

@media (min-width: 600px){
    .breadcrumb{
        padding: 0px 50px;
        &__option{
            padding: 7px 25px;
            font-size: 14px;
        }
    }
}

@media(min-width: 1280px){
    .breadcrumb{
        &__inner{
            width: 1000px;
            margin: 0 auto;
        }
    }
}

@media (min-width: 1440px){
    .breadcrumb{
        &__inner{
            width: 1220px;
        }
    }
}

@keyframes rolling {
    0% {
        height: 0px;
    }
    50% {
        height: 50%;
    }
    to {
        height: 100%;
     }
}