.miniBanner{
    max-width: 720px;
    padding: 30px 20px;
    &__inner{
        width: 100%;
        margin: 0 auto;
    }

    &__imgBanner{
        width: 100%;
        & img{
            width: 100%;
        }
    }
    &__productBannerCont{
        margin-top: 30px;
        height: 100%;
    }
    &__productBanner{
        height: 100%;
        &-wrap{ 
            height: 100%;
            display: flex;
            padding: 15px;
            border: 1px solid #c1c1c1;
            position: relative;
        }
        &-imgCont{
            width: 50%;
           display: flex;
           justify-content: center;
           align-items: center;
            & img{
                width: 100%;
            }
            &-tagCont{
                position: absolute;
                font-size: 14px;
                color: #c1c1c1;
                padding: 8px 10px;
                font-weight: bolder;
                width: 90px;
                border: 1px solid #c1c1c1;
                border-left: none;
                left: 0;
                top: 14px;
                text-transform: uppercase;
                text-align: center;
                background-color: #fff;
            }
        }
        &-infoProduct{
            padding-left: 30px ;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-titleProduct{
            margin-bottom: 15px;
            &-productName{
                color: #009ee3;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            &-subTitle{
                color: #454545;
                font-size: 10px;
                font-weight: 500;
                margin-bottom: 15px;
            }
        }
        &-priceProduct{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            &-lastPrice{
                font-size: 20px;
                font-weight: bold;
                color: #454545;
            }
            &-basePrice{
                font-size: 13px;
                font-weight: 400;
                text-decoration: line-through;
                color: #454545;
                display: none;
            }
        }
        &-btnSeeMoreCont{
            display: flex;
            justify-content: flex-start;
        }
        &-btnSeeMore{
            padding: 9px 18px;
            border: none;
            border-radius: 5px;
            background-color: #009ee3;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            line-height: 1.1;
            cursor: pointer;
            transition: all .2s linear;
            &:hover{
                opacity: .5;
            }
        }
    }
}

.miniBanner__inner .tns-outer .tns-nav{
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 10px;
}

.miniBanner__inner .tns-outer .tns-nav button{
    width: 8px;
    height: 8px;
    background-color: #dadada;
    border-radius: 100%;
    border: none;
}

@media (min-width: 600px){
    .miniBanner{
        max-width: 720px;
        padding: 30px 20px;
        &__productBanner{
            &-wrap{
                padding: 30px 30px 25px 30px;

                margin: 0 auto;
            }
            &-imgCont{
                flex: 1;
            }
            &-titleProduct{
                &-productName{
                    font-size: 36px;
                }
                &-subTitle{
                    font-size: 14.5px;
                    margin-bottom: 60px;
                }
            }
            &-priceProduct{
                &-lastPrice{
                    font-size: 36px;
                }
            }
            &-btnSeeMoreCont{
                justify-content: flex-end;
            }
            &-btnSeeMore{
                padding: 9px 18px;
                font-size: 18px;

            }
        }
    }
}

@media (min-width: 720px){
    .miniBanner{
        max-width: 1280px;
        padding: 30px 50px;
    }
}

@media (min-width: 900px){
    .miniBanner{
        max-width: 1280px;


        &__bannerCont{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
        }
        &__imgBanner{
           
        }
        &__productBannerCont{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
        }
        &__productBanner{
            flex: 1;
            &-wrap{
                
            }
        }
    }
}

@media (min-width: 1280px){
    .miniBanner{
        max-width: 1440px;
        &__inner{
            max-width: 1000px;
        }
        &__productBanner{
            &-wrap{
                max-width: 476px;
            }
        }
    }
}

@media (min-width: 1440px){
    .miniBanner{
        max-width: 100%;
        &__inner{
            max-width: 1220px;
        }
        &__productBanner{
            &-wrap{
                max-width: 590px;
            }
        }
    }
}