
.productSpecs{
    max-width: 100%;
    padding: 30px 20px 0px 20px;
    &__inner{
        width: 100%;

    }

    &__optionWrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__option{
        transition: all .2s linear;
    }
    &__optionWrap{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #c1c1c1;
        &:hover{
            background-color: #009ee3 ;
            border: none;
        }
        &-text{
            font-size: 16px;
            font-weight: 400;
            color: #032c41;
        }
        &:hover &-text{
            font-weight: bold;
            color: #fff;
        }
        &-hideIcon{
            display: none;
        }
    }
    &__activeOption{
        background-color: #009ee3 ;
        border: none;
        &-text{

        }
    }

    &__activeOption .productSpecs__optionWrap-text{
        font-weight: bold;
        color: #fff;
    }

    &__content{
        margin-top: 20px;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #c1c1c1;
        display: none;
    }

    &__content, &__contentDestop{
        -webkit-animation: opacity .5s ;
        & p .main-title{
            font-size: 25px;
        }

        & table {
            margin-top: 15px;
        }

        & table tr{
            border: 1px solid #000;
        }

        & table td{
            padding: 10px;
            border: 1px solid #000;
            vertical-align: middle;
        }

        & > ul {
            margin-top: 15px;
            list-style-type: disc !important ;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        & > ul li {
            margin-left: 30px;
        }

        & > p a {
            color: var(--primary-color);
            text-decoration: underline;
        }
        & a {
            display: inline-block;
        }
    }

    &__listDocument{
        margin-top: 0 !important;
        &-line{
            margin-left: 20px !important;
        }
        &-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-fileCont{
            display: flex;
            align-items: center;
            gap: 7px;
        }
        &-lineText{
            font-size: 15px;
        }

        &-lineType{
            font-size: 15px;
            color: #c1c1c1;
        }
        &-lineDownload{
            & svg path{
                fill: #c1c1c1;
            }
        }
    }

    &__contentDestopCont{
        display: none;
        margin-top: 30px;

    }

    &__contentDestop{
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #c1c1c1;

        // & p span strong {
        //     display: block;
        //     font-size: 20px;
        //     margin: 20px 0px;
        // }
    }

    &__contentDescriptionCont,&__contentDimensionsCont,&__contentDocumentsCont,&__contentPartsCont,&__contentShippingCont{
        width: 100%;
        display: none;
        flex-direction: column;
        gap: 30px;
    }
}

@media (min-width: 600px){
    .productSpecs{
        max-width: 100%;
        padding: 30px 50px 0px 50px;
        &__optionWrap{
            &-text{
                font-size: 20px;
            }
        }
        &__columnLayout{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 30px;
        }
    }
}

@media (min-width: 1000px){
    .productSpecs{
        &__optionWrapper{
            flex-direction: row;
            gap: 42px;
        }
        &__option{
            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
            &-icon{
                display: none;
            }
        }
        &__optionWrap{
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            &-hideIcon{
                display: none !important;
            }
            &-showIcon{
                display: none !important;
            }
            &-text{
                font-size: 18px;
            }
        }
        &__content{
            display: none !important;
        }
        &__contentDestopCont{
            display: flex;
        }
        &__columnLayout{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 30px;
        }
    }
}

@media (min-width: 1080px){
    .productSpecs{
        &__inner{
            width: 1000px;
            margin: 0 auto;
        }
    }
}

@media (min-width: 1280px){
    .productSpecs{
        &__inner{
            width: 1200px;
        }
    }
}


///

@media (max-width: 1000px){
    .tdWrap{
        display:inline-block;
        padding:5px;
        width:100% !important;
        & img{
            width: 100%;
        }
    }
}
