<link rel="stylesheet" href="{{ 'contact.css' | asset_url }}">
<section class="contact">
  <div class="contact_inner">
    <div class="contact_inner_map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28665.904630819092!2d-80.16916334103881!3d26.091145930386087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d90083510ac873%3A0x4953afc8bdd73df7!2sFort%20Lauderdale%2C%20Florida%2033315%2C%20Hoa%20K%E1%BB%B3!5e0!3m2!1svi!2s!4v1657090001758!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contact_inner_info">
      <div class="inner_info_item">
          <div class="item_svg">
            {% render 'icon-telephone' %}
          </div>
          <div class="item_title">LET’S HAVE A CHAT!</div>
          <div class="item_text">+1 (305) 999 5212
            <br>  
          </div>
      </div>
      <div class="inner_info_item">
          <div class="item_svg">
            {% render 'icon-location' %}
          </div>
          <div class="item_title">OUR LOCATION
          </div>
          <div class="item_text">Fort Lauderdale, Florida, 33315 
            <br>
            United States of America</div>
      </div>
      <div class="inner_info_item">
          <div class="item_svg">
            {% render 'icon-clock' %}
          </div>
          <div class="item_title">WORK TIME</div>
          <div class="item_text">24/7 Customer Support
            <br> 
          </div>
      </div>
  
    </div>
    <div class="contact_inner_form">
      {% form 'contact' %}
  {% if form.posted_successfully? %} Thank you for your contact {% endif %}
  {{ form.errors | default_errors }}
  <div class="form_col">
    <div class="form_group">
      <!-- <label for="ContactFormName">name</label> -->
      <input type="text" id="ContactFormName" name="contact[name]" placeholder="Your Name" class="contactForm-input">
    </div>
    <div class="form_group">
      <!-- <label for="ContactFormEmail">email</label> -->
    <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="Your Email" class="contactForm-input">
    </div>
    <div class="form_group">
      <!-- <label for="ContactFormPhone">phone</label> -->
      <input type="tel" id="ContactFormPhone" name="contact[phone]" placeholder="Your Phone" class="contactForm-input">
    </div>
  </div>
  
 <div class="form_col">
  <div class="form_group richText">
    <!-- <label for="ContactFormMessage">message</label> -->
  <textarea rows="9" id="ContactFormMessage" name="contact[body]" placeholder="Your Message" class="contactForm-input"></textarea>
  </div>
 </div>

  <div class="form_submit">
    <input type="submit" value="SEND MESSAGE" class="contactForm-submit">
  </div>
 
{% endform %}
    </div>
  </div>
</section>

