.filter__cointaner {
  display: flex;
  flex-direction: column; }

.filter__cointaner .tag-filters .item__wrap {
  padding: 15px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all .5s ease-in-out; }

.filter__cointaner .tag-filters .item__wrap li {
  color: var(--light-color); }

.filter__cointaner .tag-filters .item__wrap .filter_color {
  height: 15px;
  width: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s linear;
  position: relative; }

.filter__cointaner .tag-filters .item__wrap .filter_color .color_description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 13px;
  left: 0;
  display: none; }

.filter__cointaner .tag-filters .item__wrap .filter_color:hover .color_description {
  display: block; }

.filter__cointaner .tag-filters .item__wrap .filter_color:hover {
  transform: scale(1.2); }

.filter__cointaner .tag-filters .item__wrap .black {
  background-color: #000; }

.filter__cointaner .tag-filters .item__wrap .steel {
  background-color: #575656; }

.filter__cointaner .tag-filters .row {
  flex-direction: row; }

.filter__cointaner .tag-filters .plus {
  display: none; }
