.miniBanner {
  padding: 30px 20px; }

.miniBanner__inner {
  width: 100%;
  margin: 0 auto; }

.miniBanner__imgBanner {
  width: 100%;
  position: relative; }

.miniBanner__imgBanner img {
  width: 100%; }

.miniBanner__inner .tns-outer .tns-nav {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 10px; }

.miniBanner__inner .tns-outer .tns-nav button {
  width: 8px;
  height: 8px;
  background-color: #dadada;
  border-radius: 100%;
  border: none; }

@media (min-width: 600px) {
  .miniBanner {
    padding: 30px 50px; }
  .miniBanner__productBanner-wrap {
    padding: 30px 30px 25px;
    margin: 0 auto; }
  .miniBanner__productBanner-imgCont {
    flex: 1; }
  .miniBanner__productBanner-titleProduct-productName {
    font-size: 36px; }
  .miniBanner__productBanner-titleProduct-subTitle {
    font-size: 14.5px;
    margin-bottom: 60px; }
  .miniBanner__productBanner-priceProduct-lastPrice {
    font-size: 36px; }
  .miniBanner__productBanner-btnSeeMoreCont {
    justify-content: flex-end; }
  .miniBanner__productBanner-btnSeeMore {
    padding: 9px 18px;
    font-size: 18px; } }

@media (min-width: 900px) {
  .miniBanner__bannerCont, .miniBanner__productBannerCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px; }
  .miniBanner__productBanner {
    flex: 1; } }

@media (min-width: 1080px) {
  .miniBanner__inner {
    width: 1000px; }
  .miniBanner__productBanner-wrap {
    max-width: 476px; } }

@media (min-width: 1280px) {
  .miniBanner__inner {
    width: 1200px; }
  .miniBanner__productBanner-wrap {
    max-width: 590px; } }
