.miniBanner {
  padding: 30px 20px; }

.miniBanner__inner {
  width: 100%;
  margin: 0 auto; }

.miniBanner__imgBanner {
  width: 100%;
  position: relative; }

.miniBanner__imgBanner img {
  width: 100%; }

.miniBanner__productBannerCont {
  margin-top: 30px;
  height: 100%; }

.miniBanner__productBanner {
  height: 100%; }

.miniBanner__productBanner-wrap {
  height: 100%;
  display: flex;
  padding: 15px;
  border: 1px solid #c1c1c1;
  position: relative; }

.miniBanner__productBanner-imgCont {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.miniBanner__productBanner-imgCont img {
  width: 100%; }

.miniBanner__productBanner-imgCont-tagCont {
  position: absolute;
  font-size: 14px;
  color: #c1c1c1;
  padding: 8px 10px;
  font-weight: bolder;
  width: 90px;
  border: 1px solid #c1c1c1;
  border-left: none;
  left: 0;
  top: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff; }

.miniBanner__productBanner-infoProduct {
  padding-left: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.miniBanner__productBanner-titleProduct {
  margin-bottom: 15px; }

.miniBanner__productBanner-titleProduct-productName {
  color: #009ee3;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px; }

.miniBanner__productBanner-titleProduct-subTitle {
  color: #454545;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 15px; }

.miniBanner__productBanner-priceProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; }

.miniBanner__productBanner-priceProduct-lastPrice {
  font-size: 20px;
  font-weight: 700;
  color: #454545; }

.miniBanner__productBanner-priceProduct-basePrice {
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
  color: #454545;
  display: none; }

.miniBanner__productBanner-btnSeeMoreCont {
  display: flex;
  justify-content: flex-start; }

.miniBanner__productBanner-btnSeeMore {
  padding: 9px 18px;
  border: none;
  border-radius: 5px;
  background-color: #009ee3;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 1.1;
  cursor: pointer;
  transition: all .2s linear; }

.miniBanner__productBanner-btnSeeMore:hover {
  opacity: .5; }

.miniBanner__inner .tns-outer .tns-nav {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 10px; }

.miniBanner__inner .tns-outer .tns-nav button {
  width: 8px;
  height: 8px;
  background-color: #dadada;
  border-radius: 100%;
  border: none; }

@media (min-width: 600px) {
  .miniBanner {
    max-width: 720px;
    padding: 30px 20px; }
  .miniBanner__productBanner-wrap {
    padding: 30px 30px 25px;
    margin: 0 auto; }
  .miniBanner__productBanner-imgCont {
    flex: 1; }
  .miniBanner__productBanner-titleProduct-productName {
    font-size: 36px; }
  .miniBanner__productBanner-titleProduct-subTitle {
    font-size: 14.5px;
    margin-bottom: 60px; }
  .miniBanner__productBanner-priceProduct-lastPrice {
    font-size: 36px; }
  .miniBanner__productBanner-btnSeeMoreCont {
    justify-content: flex-end; }
  .miniBanner__productBanner-btnSeeMore {
    padding: 9px 18px;
    font-size: 18px; } }

@media (min-width: 720px) {
  .miniBanner {
    max-width: 1280px;
    padding: 30px 50px; } }

@media (min-width: 900px) {
  .miniBanner {
    max-width: 1280px; }
  .miniBanner__bannerCont, .miniBanner__productBannerCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px; }
  .miniBanner__productBanner {
    flex: 1; } }

@media (min-width: 1280px) {
  .miniBanner {
    max-width: 1440px; }
  .miniBanner__inner {
    max-width: 1000px; }
  .miniBanner__productBanner-wrap {
    max-width: 476px; } }

@media (min-width: 1440px) {
  .miniBanner {
    max-width: 100%; }
  .miniBanner__inner {
    max-width: 1220px; }
  .miniBanner__productBanner-wrap {
    max-width: 590px; } }
