.productPage {
  max-width: 100%;
  position: relative;
  padding: 30px 20px 0; }

.productPage__inner {
  width: 100%; }

.productPage__titleProduct {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  color: #454545; }

.productPage__nameProduct {
  font-size: 24px;
  font-weight: 700; }

.productPage__skuProduct {
  font-size: 16px;
  font-weight: 300; }

.productPage__featureProduct {
  font-size: 16px;
  font-weight: 600; }

.productPage__imgProduct {
  position: relative;
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 30px; }

.productPage__imgProduct img {
  width: 100%;
  height: 100%; }

.productPage__imgProduct-alert {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 0;
  border: 1px solid #000; }

.productPage__imgProduct-alert img {
  width: 21px;
  height: 25px; }

.productPage__imgProduct-tag {
  position: absolute;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #032c41;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  padding-right: 10px;
  top: 20px;
  left: 0; }

.productPage__price {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px; }

.productPage__price-lastPrice {
  font-size: 30px;
  font-weight: 700; }

.productPage__price-basePrice {
  font-size: 16px;
  text-decoration: line-through;
  font-weight: 500; }

.productPage__policy {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px; }

.productPage__policyOption {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #454545; }

.productPage__policyOption-text, .productPage__quantityStatus {
  font-size: 16px;
  font-weight: 400; }

.productPage__quantityStatus {
  margin-bottom: 20px; }

.productPage__quantityCont {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom: 20px; }

.productPage__quantityCont-minusBtn, .productPage__quantityCont-plusBtn {
  display: block;
  flex: 1;
  border: none;
  text-align: center;
  font-size: 24px;
  color: #7a7a7a;
  cursor: pointer; }

.productPage__quantityCont-inputQty {
  flex: 1;
  color: #454545;
  text-align: center;
  width: 100px;
  background-color: #ebebeb;
  border: none;
  font-size: 16px; }

.productPage__btnCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px; }

.productPage__btnAdd {
  width: 100%;
  text-align: center;
  background-color: #ebebeb;
  border: 1px solid #139aeb;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s linear; }

.productPage__btnAdd:hover {
  opacity: .5; }

.productPage__btnAdd-btn {
  cursor: pointer;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 700;
  color: #139aeb;
  width: 100%;
  height: 100%; }

.productPage__btnBuyNow {
  width: 100%;
  text-align: center;
  background-color: #139aeb;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s linear; }

.productPage__btnBuyNow:hover {
  opacity: .5; }

.productPage__btnBuyNow-btn {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  padding: 12px 0;
  height: 100%; }

.productPage__termConditions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px; }

.productPage__termConditions-checkbox {
  min-width: 20px;
  height: 20px;
  background-color: #ebebeb;
  border: 1px solid #c1c1c1;
  cursor: pointer; }

.productPage__termConditions-text {
  font-size: 16px;
  font-weight: 400;
  color: #454545; }

.productPage__otherInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px; }

.productPage__productType, .productPage__tags, .productPage__vendor {
  font-size: 13px;
  font-weight: 400;
  color: #454545; }

.imgProductDestop {
  display: none; }

.btnContDestop {
  display: none;
  margin-top: 30px;
  flex-direction: row;
  gap: 35px; }

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }

@media (min-width: 600px) {
  .productPage {
    padding: 30px 50px 0; }
  .productPage__nameProduct {
    font-size: 30px; }
  .productPage__featureProduct, .productPage__skuProduct {
    font-size: 20px; }
  .productPage__price-lastPrice {
    font-size: 35px; }
  .productPage__policyOption-text, .productPage__price-basePrice, .productPage__quantityStatus {
    font-size: 20px; }
  .productPage__quantityCont-minusBtn, .productPage__quantityCont-plusBtn {
    font-size: 30px; }
  .productPage__btnAdd-btn, .productPage__btnBuyNow-btn, .productPage__quantityCont-inputQty {
    font-size: 20px; }
  .productPage__termConditions-text {
    font-size: 16px; }
  .productPage__imgProduct-tag {
    width: 150px;
    font-size: 20px;
    padding-right: 15px; } }

@media (min-width: 750px) {
  .productPage {
    max-width: 100%; } }

@media (min-width: 1000px) {
  .productPage__contentCont {
    display: flex;
    gap: 90px; }
  .productPage__infoProduct {
    width: 36%; }
  .productPage__nameProduct {
    font-size: 28px; }
  .productPage__skuProduct {
    font-size: 15px; }
  .productPage__featureProduct {
    font-size: 18px; }
  .productPage__policy {
    flex-direction: row; }
  .productPage__policyOption-text {
    font-size: 18px; }
  .productPage__termConditions-text {
    font-size: 15px; }
  .imgProductMobile {
    display: none; }
  .imgProductDestop {
    display: block;
    flex: 1;
    margin: 0; }
  .btnContDestop {
    display: flex; }
  .btnContMobile {
    display: none; } }

@media (min-width: 1280px) {
  .productPage {
    max-width: 1440px; }
  .productPage__inner {
    width: 1000px;
    margin: 0 auto; } }

@media (min-width: 1440px) {
  .productPage {
    max-width: 100%; }
  .productPage__inner {
    width: 1220px; } }
