.singleBanner {
  max-width: 600px;
  padding: 30px 20px 0; }

.singleBanner__inner {
  width: 100%;
  position: relative; }

.singleBanner__inner img {
  width: 100%; }

@media (min-width: 600px) {
  .singleBanner {
    max-width: 100%;
    padding: 30px 50px 0; } }

@media (min-width: 1080px) {
  .singleBanner__inner {
    width: 1000px;
    margin: 0 auto; } }

@media (min-width: 1280px) {
  .singleBanner__inner {
    width: 1200px; } }
