<link rel="stylesheet" href="{{ 'homeFilter.css' | asset_url }}">
<section class="homeFilter" data-section-type="home-filter" data-section-id="{{ section.id }}">
    <div class="homeFilter__inner">
        <div class="homeFilter__title">
            <div class="homeFilter__leftTitle">
                WHAT FRIDGE DO I NEED?
            </div>
            <div class="homeFilter__rightTitle">
                LET US HELP YOU!
            </div>
        </div>
        <div class="homeFilter__content">
            <div class="filterOption">
                <div class="filterOption__title">Color</div>
                <div class="filterOption__dropdown">
                    <div class="filterOption__dropdown-placeHolder">- Select -</div>
                    <div class="filterOption__dropdownCont">
                        <div class="filterOption__dropdownCont-option">BLACK</div>
                        <div class="filterOption__dropdownCont-option">WHITE</div>
                        <div class="filterOption__dropdownCont-option">SILVER</div>
                        <div class="filterOption__dropdownCont-option">STAINLESS STEEL</div>
                    </div>
                </div>
                <button class="filterOption__btnConfirm ">
                    {% render 'icon-next' %}
                </button>
            </div>
            <div class="filterOption">
                <div class="filterOption__title">Type</div>
                <div class="filterOption__dropdown">
                    <div class="filterOption__dropdown-placeHolder">- Select -</div>
                    <div class="filterOption__dropdownCont">
                        <div class="filterOption__dropdownCont-option">BLACK</div>
                        <div class="filterOption__dropdownCont-option">WHITE</div>
                        <div class="filterOption__dropdownCont-option">SILVER</div>
                        <div class="filterOption__dropdownCont-option">STAINLESS STEEL</div>
                    </div>
                </div>
                <button class="filterOption__btnConfirm">
                    {% render 'icon-next' %}
                </button>
            </div>
            <div class="filterOption">
                <div class="filterOption__title">Cuft</div>
                <div class="filterOption__dropdown">
                    <div class="filterOption__dropdown-placeHolder">- Select -</div>
                    <div class="filterOption__dropdownCont">
                        <div class="filterOption__dropdownCont-option">BLACK</div>
                        <div class="filterOption__dropdownCont-option">WHITE</div>
                        <div class="filterOption__dropdownCont-option">SILVER</div>
                        <div class="filterOption__dropdownCont-option">STAINLESS STEEL</div>
                    </div>
                </div>
                <button class="filterOption__btnConfirm">
                    {% render 'icon-next' %}
                </button>
            </div>
        </div>
    </div>
    <script src="{{ homePage-filter.js | asset_url}}" async></script>
</section>

{% schema %}
    {
        "name": "Filter",
        "tag": "section",
        "presets": [
            {
              "name": "Filter"
            }
        ],
        "settings":[
            {
                "type":"header",
                "content":" xxxxx"
            }
        ]
    }
{% endschema %}