<link rel="stylesheet" href="{{ 'miniBanner.css' | asset_url }}">
<section class="miniBanner" data-section-type="mini-banner" data-section-id="{{ section.id }}">
    <div class="miniBanner__inner">
        <div class="miniBanner__bannerCont">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'imageBlock' -%}
                        <div class="miniBanner__imgBanner">
                            <a href="{{ block.settings.urlImg | default: routes.root_url }}" class="">
                                {% comment %} <img src="{{ section.settings.image1 | image_url }} " /> {% endcomment %}
                                
                                {%- render "image-style" , image: block.settings.image -%}
                            </a>
                        </div>
             
            {%- endcase -%}
        {%- endfor -%}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Mini Banner",
        "tag": "section",
        "presets": [
            {
              "name": "Mini Banner"
            }
        ],
        "settings":[
            {
                "type":"header",
                "content":"Mini Banner"
            }
        ],
        "blocks":[
            {
                "type":"imageBlock",
                "name":"Image Block",
                "settings":[
                    {
                        "type":"header",
                        "content":"Image Banner "
                    },
                    {
                        "type":"image_picker",
                        "id":"image",
                        "label":"Choose image:"
                    },
                    {
                        "type":"text",
                        "id":"urlImg",
                        "label": "Fill your url for this image: "
                    }
                ]
            }
        ]
    }
{% endschema %}