<link rel="stylesheet" href="{{ 'page.css' | asset_url }}">
<section class="page">
    <h1 class="page_title">{{ page.title }}</h1>
    <div class="page_content" >
        {{ page.content }}
    </div>
</section>