
    <link rel="stylesheet" href="{{ 'filterbyType.css' | asset_url }}">
    {%- for filter in collection.filters -%}

    <div class="filter__cointaner">
      <div class="filter__tittle filter_active">
        <div class="tittle__text">{{ filter.label  | upcase}}</div>
        <div class="Icon__Control">
          {% render 'icon-minus' %}
        </div>
        <div class="Icon__Control plus">
          {% render 'icon-plus' %}
        </div>
      </div>
      <div class="filter-group-display">
        {%- case filter.type -%}
          {%- when 'boolean' or 'list' -%}
            <ul class="filter-list">
              {%- for filter_value in filter.values -%}
                <li class="filter-item">
                  {{ filter_value.label }}
                </li>
              {%- endfor -%}
            </ul>
    
        {%- endcase -%}
      </div>

    </div>
      
    {%- endfor -%}
  
    

  