<link rel="stylesheet" href="{{ 'checkOutField.css' | asset_url }}">
<div class="checkOutField">
    {%- form 'cart' , cart -%}
        <div class="checkOutField__termField">
            <input type="checkbox" class="checkOutField__termField-checkbox" required>
            <div class="checkOutField__termField-text">{{ 'sections.checkoutTerm.termArgee' | t }}</div>
            <div class="checkOutField__btnCheckOut">
                <button class="checkOutField__btnCheckOut-btn" type="submit" name="checkout">{{ 'sections.checkoutTerm.checkoutBtn' | t }}</button>
            </div>
           
        </div>
        <div class="checkOutField__wrapper"></div>

    {%- endform -%}
</div>
